@font-face {
    font-family: "Nerve";
    src: url(/assets/fonts/NerveBrushRegular.otf) format("opentype");
}

@font-face {
    font-family: "Hamston";
    src: url(/assets/fonts/Hamston.ttf) format("truetype");
}

@font-face {
    font-family: "Simple Summer";
    src: url(/assets/fonts/Simple\ Summer.otf) format("opentype");
}

@mixin summerFont {
    font-family: "Simple Summer";
    color: #fee7bd;
    text-shadow: -1px -1px #f2bd60;
    letter-spacing: .25vw;
}